<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<title>My Drive</title>

<div class="navbar-fixed">
  <nav class="nav-extended white">
    <div class="nav-wrapper white">
      <ul>
        <li>
          <a href="#!" class="title grey-text text-darken-1">My Drive</a>
        </li>
      </ul>
      <div class="search-wrapper">
        <i class="material-icons">search</i>
        <input type="search" name="Search" placeholder="Search-Drive" />
      </div>
      <ul class="right">
        <li>
          <a href="#!"><i class="material-icons grey-text text-darken-1">apps</i></a>
        </li>
        <li>
          <a href="#!"><i class="material-icons grey-text text-darken-1">notifications</i></a>
        </li>
        <li>
          <a href="#!"><img
              src="https://uploads.codesandbox.io/uploads/user/53b2f3c5-b478-4ed5-8eb3-f9b080c16225/lzWX-Profile.jpg"
              alt="profile pic" class="circle" /></a>
        </li>
      </ul>
    </div>
    <div class="nav-wrapper nav-2">
      <ul>
        <li>
          <a href="#!" class="waves-effect waves-light btn btn-flat white-text">Upload</a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="#!"><i class="material-icons grey-text text-darken-1">view_list</i></a>
        </li>
        <li>
          <a href="#!"><i class="material-icons grey-text text-darken-1">info</i></a>
        </li>
        <li>
          <a href="#!"><i class="material-icons grey-text text-darken-1">settings</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<ul class="side-nav fixed floating transparent z-depth-0">
  <li class="active">
    <a href="#"><i class="material-icons blue-text text-darken-1">dashboard</i>My
      Drive</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">devices</i>Computers</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">people</i>Shared with me</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">access_time</i>Recent</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">camera</i>Google Photos</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">star</i>Starred</a>
  </li>
  <li>
    <a href="#"><i class="material-icons">delete</i>Trash</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="#"><i class="material-icons">cloud</i>Backup</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a href="#"><i class="material-icons">storage</i>Upgrade Storage</a>
  </li>
</ul>
<div class="main">
  <!-- <div class="container-fluid">
        <p class="subheader">Folders</p>
        <div class="card-panel folder">
          <i class="material-icons left">description</i>File
        </div>
        <div class="card-panel folder">
          <i class="material-icons left">description</i>File
        </div>
        <div class="card-panel folder">
          <i class="material-icons left">description</i>File
        </div>
        <div class="card-panel folder">
          <i class="material-icons left">description</i>File
        </div>
        <div class="card-panel folder">
          <i class="material-icons left">description</i>File
        </div> -->

  <!-- <div class = "row">
         <form class = "col s12">

            <div class = "row">
               <div class = "file-field input-field">
                  <div class = "btn">
                     <span>Browse</span>
                     <input type = "file" multiple />
                  </div>

                  <div class = "file-path-wrapper">
                     <input class = "file-path validate" type = "text"
                        placeholder = "Upload multiple files" />
                  </div>
               </div>
            </div>
         </form>
      </div> -->
  <app-upload-files></app-upload-files>
</div>
<!-- </div> -->
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
